@import './global.scss';

.HomePage {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  width: 100%;
  max-width: 40rem;

  h1 {
    font-size: 3rem;
    width: 80%;
  }

  .btns-container {
    display: flex;
    flex-direction: column;
    width: fit-content;
    width: 80%;
  }
}