@import './global.scss';

.HomePage {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;

  h1 {
    font-size: 4rem;
  }

  .btns-container {
    display: flex;
    flex-direction: column;
    width: 90%;

    .btn {
      margin: 0.5rem;
      padding: 1rem;
      color: inherit;
      background-color: $orange;
      font-weight: bold;
      font-size: 1.25rem;
      border: 0;
    }
  }
}