@import './global.scss';

.Form {
  display: flex;
  flex-direction: column;
  align-items: center;
  height: 100%;
  width: 100%;
  max-width: 40rem;

  .title {
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 80%;
    margin: 2rem;
  }

  .HomeForm {
    width: 80%;
    
    p {
      text-align: center;
    }

    a {
      color: $orange;
  
      &:hover {
        text-decoration: underline;
      }
    }
  }

}