@import './global.scss';

.MenuItem {
  display: block;
  width: 90%;
  max-width: 30rem;
  margin: 1rem 0;
  border-bottom: 1px solid $grey;

 .bottom-card {
  display: flex;
  flex-direction: column;
  padding: 0.5rem 1rem 1rem 1rem;

   .title {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 0.5rem;

    h1 {
      font-size: 2rem;
      margin: 0;
    }

    .rating {
      display: flex;
      justify-content: center;
      min-width: 2rem;
    }
   }

   p {
    margin: 0;
   }

   .delete {
    // width: 100%;
    font-weight: bold;
    margin-top: 1rem;
    padding: 1rem;
    text-align: center;
    background: linear-gradient(#C757348a, #C757348a);
    cursor: pointer;

    &:hover {
      background: linear-gradient(#a445288a, #a445288a);
    }

    &:active {
      
    }
   }
 }
}