@import './global.scss';

.RestaurantItem {
  // border: 1px solid aqua;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  width: 100%;
  min-height: 12rem;
  font-weight: bold;

  .title-container {
    display: flex;
    flex-direction: column;
    margin: 1.5rem;
    
    .recView {
      margin: 0;
      font-weight: 400;
    }
    
    .sub-title-container {
      display: flex;
      justify-content: space-between;

      .title {
        width: 90%;
  
        .options {
          width: 26px;
          height: 26px;
          z-index: 1;
        }
      }
  
      h1, h4 {
        margin: 0;
      }
  
      h4 {
        font-weight: 400;
      }
    }
  }

  .star-container {
    display: flex;
    justify-content: space-around;
    // margin: 1rem;
    height: 51px;
  
    .star-item {
      display: flex;
      justify-content: center;
      align-items: center;
      margin-bottom: 2rem;

      p {
        margin-right: 1rem;
      }
    }

    .option-item {
      display: flex;
      justify-content: center;
      align-items: center;
      width: 50%;
    }
    
    .share {
      background: linear-gradient(#ffa8008a, #ffa8008a
      );
    }
    
    .delete {
      background: linear-gradient(#C757348a, #C757348a
      );
    }
  }
}